@using LT.DigitalOffice.GUI.Pages.Messages.Channels

<div class="dropdown-menu" aria-labelledby="dropdown-menu">
    <a class="dropdown-item" href="#">Add users</a>
    <a 
        class="dropdown-item" 
        href="javascript:void(0)"
        data-toggle="modal"
        data-target="#create-channel-window">
        Add channel
    </a>
    <a 
        class="dropdown-item" 
        href="javascript: void(0)" 
        data-toggle="modal" 
        data-target="#edit-workspace-center">
        Edit workspace
    </a>
    <a class="dropdown-item" href="#" style="color:#dc3545;">Remove workspace</a>
</div>

<CreateChannelWindow/>
