<div class="modal fade bd-example-modal-sm"
     id=@DataTarget
     tabindex="-1" role="dialog"
     aria-labelledby="snackbar-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content @(IsSuccessOperation ? "success" : "fail")">
            <p>
                <img src="/icons/@(IsSuccessOperation ? "success.png" : "fail.png")"
                     class="rounded mr-2 @(IsSuccessOperation ? "img-success" : "img-fail")">
                @Message
            </p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public bool IsSuccessOperation { get; set; }

    [Parameter]
    public string DataTarget { get; set; }
}