@media (min-width: 576px)
{
    .modal-sm {
        float: right;
        width: 20%;
        margin: 3.75rem 0.5rem 5.75rem 0;
    }
}

.modal-content {
    align-items: center;

    padding: 16px 10px;
}

button {
    width: 55%;
    margin-top: 55px;
}

img {
    width: 30%;
}

